/* ---------------------
   Base layout
---------------------- */
html,
body {
  max-height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 800px;
  width: 80%;
  height: 500px;
  margin: 2vh auto;
  position: relative;
}

#github-icon {
  vertical-align: middle;
  width: 4em;
  height: 4em;
}

.hidden {
  display: none !important;
}

@media(max-width:500px) {
  h2 {
    text-align: center;
  }

  h2 #github-icon {
    width: 100%;
    object-fit: contain;
  }

}