html,
body {
  max-height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

main {
  max-width: 800px;
  margin: 2vh auto;
}

#root{
  max-width: 600px;
  margin: auto;
}