:root{
  --border-width: 2px;
  --input-padding: .2em;
}


#cddm-menu :focus, #cddm-menu .on-focus{
  outline: none;
  border: 4px solid gold;
}

#cddm-menu #cddm-list :first-child{
  border-radius: 20px 20px 0 0;
}

#cddm-menu #cddm-list :last-child{
  border-radius: 0 0 20px 20px;
}

#cddm-menu{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
}

.hidden{
  display: none !important;
}

/* ---------------------
   cddm structure
---------------------- */
#cddm-controller,
#cddm-list, #cddm-form-search input{
  all: unset;
  position: relative;
  width: 100%;
}

#cddm-controller{
  border: var(--border-width) solid black;
  border-radius: 10px;
}

#cddm-controller,
#cddm-list > li {
  cursor: pointer;
  padding: 0.8em;
}

#cddm-menu *{
  box-sizing: border-box;
}

/* ---------------------
   cddm visibility
---------------------- */
#cddm-controller.cddm-hide ~ *{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#cddm-controller.cddm-show ~ *{
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}
/* ---------------------
   Search bar
---------------------- */
#cddm-form-search{
  display: flex;
  border: var(--border-width) solid black;
  border-radius: 20px;
  padding: var(--input-padding);
}

#search-icon{
  width: 2em;
  height: 2em;
  object-fit: cover;
}

#cddm-error-feedback{
  color: rgb(180, 0, 0);
  margin: 0;
  margin-left: calc(var(--border-width) + var(--input-padding));
}

/* ---------------------
   List items
---------------------- */
#cddm-list {
  list-style: none;
  display: block;
  overflow-y: auto;
}

#cddm-list > li {
  border-bottom: var(--border-width) solid black;
  border-left: var(--border-width) solid black;
  border-right: var(--border-width) solid black;
}

#cddm-list li:first-of-type{
  border-top: var(--border-width) solid black;
}

#cddm-list li:first-of-type:focus{
  border-top: 4px solid gold;
}


/* ---------------------
   Pseudo-elements
---------------------- */
#cddm-controller::after,
#cddm-list li #check-icon {
  text-align: center;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  width: 2em;
  height: 2em;
}

#cddm-controller::after{
  font-weight: bolder;
}

#cddm-controller.cddm-hide::after {
  content: ">";
}

#cddm-controller.cddm-show::after {
  content: "v";
}

#cddm-list li #check-icon{
  opacity: 0;
  object-fit: cover;
}

#cddm-list li.cddm-selected #check-icon{
  opacity: 1;
}

/* ---------------------
   Scrollable List
---------------------- */
#cddm-list-wrapper{
  position: relative;
  margin-bottom: .5em;
}

#cddm-list-wrapper:has(::after){
  padding-top: 2em;
}

#cddm-list-wrapper:has(#cddm-list.scrollable-to-top)::before, 
#cddm-list-wrapper:has(#cddm-list.scrollable-to-bottom)::after{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8em;
}

#cddm-list-wrapper:has(#cddm-list.scrollable-to-top)::before{
  content: "⇧";
  top: -1em;
}

#cddm-list-wrapper:has(#cddm-list.scrollable-to-bottom)::after{
  content: "⇩";
  bottom: -1em;
}

/* ---------------------
   Screen Reader Only
---------------------- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
}
