/* ---------------------
   Font-face declarations
---------------------- */
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ---------------------
   Base layout
---------------------- */

:root{
  --border-width : 3px;
  --border : var(--border-width) solid black;
}

html, body {
  max-height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

#app {
  max-width: 800px;
  margin: 2vh auto;
  font-size: 1.2em;
  display: grid;
  gap: 1em;
}

#app h2{
  margin: 0;
}

#create-task, #tasks-list, button{
  all: unset;
}

#create-task{
  border: var(--border);
  border-radius: 10px;
  padding: .5em;
  width: 100%;
}


#tasks-list{
  list-style: none;
}

#tasks-list li{
  display: flex;
  align-items: center;
  border-bottom: var(--border-width) solid rgba(128, 128, 128, 0.3);
  padding: .3em 0;
  position: relative;
}

#tasks-list li .checkbox-task{
  margin-right: 1em;
}

#tasks-list li .remove-task{
  position: absolute;
  right: 1em;
}

button{
  border: var(--border);
  border-radius: 5px;
  width: 1em;
  height: 1em;
}