#feedback-info {
  background-color: rgba(128, 128, 128, 0.2);
  text-align: center;
  padding: 4em 0;
  border-radius: 10px;
}

#retry-button {
  all: unset;
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: .5em 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

#retry-button:hover {
  background-color: rgb(240, 0, 0);
}

#retry-button:active {
  background-color: rgb(175, 0, 0);
}

#feedback-info.error {
  background-color: rgba(255, 0, 0, .2);
}

#feedback-info.success {
  background-color: rgba(0, 255, 0, .2);
}

#cddm-menu .hidden{
  display: none !important;
}